In [18]:
import pandas as pd

In [51]:
table = pd.read_json("modifiedData.json")
table.drop_duplicates(inplace=True, ignore_index=True)
table.shape
table

,bathrooms,bedrooms,hometype,latitude,longitude,price,lotAreaValue
0,7,7.0,SINGLE_FAMILY,43.685574,-79.448690,1849000,2506.2539
1,1,1.0,CONDO,43.618538,-79.485100,585000,NaN
2,1,2.0,CONDO,43.630337,-79.472730,794500,NaN
3,3,3.0,SINGLE_FAMILY,43.644554,-79.421234,3799000,2343.7500
4,2,3.0,CONDO,43.722080,-79.543945,489999,NaN
...,...,...,...,...,...,...,...
610,2,4.0,CONDO,43.655865,-79.570600,639900,NaN
611,2,3.0,CONDO,43.641720,-79.381500,909000,NaN
612,2,3.0,CONDO,43.703022,-79.395820,899000,NaN
613,2,2.0,CONDO,43.646015,-79.394066,739999,NaN
614,2,4.0,SINGLE_FAMILY,43.614063,-79.495360,1075000,5337.5000

In [52]:
table.dropna()

,bathrooms,bedrooms,hometype,latitude,longitude,price,lotAreaValue
0,7,7.0,SINGLE_FAMILY,43.685574,-79.448690,1849000,2506.2539
3,3,3.0,SINGLE_FAMILY,43.644554,-79.421234,3799000,2343.7500
5,11,17.0,MULTI_FAMILY,43.671116,-79.298000,9190000,9375.0000
6,3,7.0,MULTI_FAMILY,43.689640,-79.497500,1300000,2430.0000
9,5,4.0,SINGLE_FAMILY,43.819138,-79.314840,1799000,3443.8866
...,...,...,...,...,...,...,...
564,4,3.0,SINGLE_FAMILY,43.707184,-79.402740,2499000,3070.6875
565,4,4.0,SINGLE_FAMILY,43.704970,-79.394010,1399000,2961.6000
567,2,3.0,SINGLE_FAMILY,43.657425,-79.423096,1679000,2072.0007
598,2,4.0,SINGLE_FAMILY,43.680200,-79.562035,975000,3614.8750
614,2,4.0,SINGLE_FAMILY,43.614063,-79.495360,1075000,5337.5000

In [54]:
table.to_csv("data.csv")